/* content advice for my websie
 * https://content.wisestep.com/put-avoid-personal-website/
 *https://www.careeraddict.com/7-things-you-should-include-on-your-personal-website
 *https://smallbiztrends.com/2013/10/things-your-website-should-do.html
 */

/* container groups for the page **************************************************************************************************************8*/
.main-container{ /* this is for the whole page to be segmented*/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
}




/* this is the universal style for the page */
div{
    padding: 0;
    margin: 0;
}



body{
    color: aqua;
    font-family: 'Aboreto', cursive;
    padding: 0;
    padding-right: 0;
    margin: 0;
    background: black;
    font-size: 0.75em;
}
hr{
    border: 1px solid aqua;
}



/* this is the menue area *******************************************************************************************/
.menu{
    position: fixed;
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: 0.85;

    z-index: 1000;
}
.menu-container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 2px;
}
.menu hr{
    display: none;
    border: 1px solid white;

}

.menu a {
    font-size: 1.25em;
    margin: 0;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    color: aqua;
    font-family:'Courier New', Courier, monospace;
    color: aqua;
    text-decoration: none;
    border: solid white;
    border-radius: 20px;
}
/* this is the header area *****************************************************************************************************************************/
.startingImg{
    grid-row: 1/2;
    grid-column: 1/2;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.BlkBoc{
    background-color: black;
    text-align: center;
    padding: 25px;
    margin: 25px;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    color: aqua;
    font-family: 'Aboreto', cursive;
    opacity: 0.85;

    position: absolute;
    /* this will be chaned in mobile view */
    /* top: 25%; */
    top: 5%;
}
/* this is the about me section **************************************************************************************************************************/
#about{
    margin: 25px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
}
#about img {
    grid-row: 1/2;
    display: none;
    width: auto;
    /*this is for the mobile version only*/
    height: 200px;
    background-color: white;
    border: solid black;
    border-radius: 30px;


}
.aboutMe{
    height: 100%;
    grid-row: 2/3;
    padding-left: 25px;
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: solid black;
    border-radius: 30px;
    font-family: 'Aboreto', cursive;
}






/* this is the class to store personal information *********************************************************************************************************/
.infoBlock{
    
    width: 100%;
    color: aqua;
    font-family: 'Aboreto', cursive;
    opacity: 0.85;
    padding: 0;
    margin: 0;
}
.infoBlock > h2,h3,p,a {
    padding-left: 25px;
    padding-right: 25px;
}
.infoBlock .Block1{
    padding-left: 25px;
}
.infoBlock .Block2{
    padding-left: 25px;
}
.infoBlock .Block3{
    padding-left: 25px;
}


/* this is the square grid section ************************************************************************************************************************/
.container-squares{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 12px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: black;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img{
    width: 100%;
    border-radius: 30px;
    border: 1px solid aqua;
    border-radius: 30px;
}
.item a{
    padding: 0;
}
.item1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.item2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.item3{
    grid-row: 2/3;
    grid-column: 1/2;
}

.item4{
    grid-row: 2/3;
    grid-column: 2/3;
}
/* this is the link section *********************************************************************************************************************************/
.linkgroup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkgroup a{
    padding: 10px;
    margin: 10px;
    border: 1px solid aqua;
    border-radius: 30px;
    text-decoration: none;
    color: aqua;
    font-family: 'Aboreto', cursive;
}
/* this is the footer section ********************************************************************************************************************************/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
    text-align: center;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and ( min-width : 800px ) {

body{
    font-size: 1.5em;
}
.menu-container{
    display: block;
    padding: 0px;;
}

.menu a {
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    color: aqua;
    font-family:'Courier New', Courier, monospace;
    color: aqua;
    padding-left: 25px;
    text-decoration: none;
    border: none;
}
.menu hr{
    display: block;
    border: 1px solid white;
}


.BlkBoc{
    top: 25%;
}

#about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}
#about img {
    display: block;
    width: auto;
    height: 100%;
}
.aboutMe{
    grid-row: 1/2;
    grid-column: 2/4;
}

.container-squares{
    display: flex;

}




}




